                <div class="navbar navbar-default topmenu">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ site.baseurl }}">Home</a>
                        </li>
                        <li><a href="{{ site.baseurl }}about/">About us</a>
                        </li>
                        <li><a href="{{ site.baseurl }}advisors/">Advisors</a>
                        </li>
                        <li><a href="{{ site.baseurl }}speaking/">Speaking</a>
                        </li>
                        <li><a href="http://illnessprotection.com/newsandevents.php">News</a>
                        </li>
                        <li><a href="{{ site.baseurl }}contact-us/">Contact Us</a>
                        </li>
                    </ul>
                </div>
