                                    <p>"It's been a pleasure dealing with Mark on insurance matters for me and my family. His approach is refreshing; he took his time to understand our needs and then made the right suggestions. Mark is definitely not your typical insurance salesman, he's a genuine pro."
                                        <cite>-Gord Stellick </cite>
                                    </p>
                                    <p>National TV and Radio Personality, SportsNet and Fan590</p>
